{% extends 'base.html.twig' %}

{% block content %}
<form class="form-signup" method="post">

    {% if errors | length > 0 %}
        <ul class="form-errors">
        {% for errorMessage in errors %}
            <li class="form-error">{{ errorMessage }}</li>
        {% endfor  %}
        </ul>
    {% endif %}

    <h2 class="form-signup-heading">Sign up</h2>
    <fieldset>
    <label for="inputFirstName" class="sr-only">Email address</label>
    <input name="first_name" id="inputFirstName" class="form-control" placeholder="First name" value="{{ signUp.firstName }}">
    <label for="inputLastName" class="sr-only">Email address</label>
    <input name="last_name" id="inputLastName" class="form-control" placeholder="Last name"  value="{{ signUp.lastName }}">
    <label for="inputPhoneNumber" class="sr-only">Phone number</label>
    <input name="phone_number" id="inputPhoneNumber" class="form-control" placeholder="Phone number" value="{{ signUp.phoneNumber }}">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" id="inputEmail" class="form-control" placeholder="Email address" value="{{ signUp.email }}">
    </fieldset>

    <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
    <label for="inputPasswordConfirm" class="sr-only">Confirmation</label>
    <input type="password" name="password_confirm" id="inputPasswordConfirm" class="form-control" placeholder="Password confirmation">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
{% endblock %}
