{% extends 'base.html.twig' %}

{% block content %}

<div id="conferences-list">
{% for conference in conferences %}
    <section class="conference">
        <header>
            <h1>{{ conference.details.title }}</h1>
        </header>
        <p>{{ conference.details.description }}</p>

        <div class="conference-metadata">
            <ul class="conference-keywords list-inline">
                {% for keyword in conference.details.keywords %}
                <li class="list-inline-item">{{ keyword }}</li>
                {% endfor %}
            </ul>
            <p class="conference-date">Join us on <time datetime="{{ conference.date }}">{{ conference.date }} (duration: {{ conference.duration }})</time></p>
            <address>
                {{ conference.location.placeName }}
                {{ conference.location.address }}
            </address>
            <p class="max-attendees">{{ conference.maxAttendees }} available seats</p>
            {% if not conference.areExternalPeopleAllowed %}
                <p><i>Warning, this conference is reserved to students!</i></p>
            {% else %}
                <p><i>Warning, there is a additional fee of {{ conference.externalPeopleEntrancePrice }} for non-students attendees</i></p>
            {% endif %}
        </div>
    </section>
{% endfor %}
</div>
{% endblock %}
